/* Components/Resume/Resume.css */
.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to full viewport height */
}

.resume-image {
    max-width: 100%;
    margin-bottom: 20px;
}

.download-section {
    text-align: center;
}

/* Apply styles to the button */
.resume-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Apply styles to the anchor tag within the button */
.resume-container button a {
    text-decoration: none;
    color: white;
}
