/* Components/Resume/Resume.css */
.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px); /* Adjust this value based on the height of your navbar */
    padding: 20px;
    box-sizing: border-box;
}

.resume-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.download-section {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

/* Apply styles to the button */
.download-section button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
    max-width: 200px;
}

.download-section button:hover {
    background-color: #45a049;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    .download-section {
        padding: 10px;
    }

    .download-section h1 {
        font-size: 1.5em;
    }

    .download-section button {
        padding: 10px 20px;
        font-size: 14px;
        max-width: 100%;
    }
}
