.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.footer-left,
.footer-right {
  flex: 1;
  text-align: left;
}

.footer-center {
  flex: 1;
  text-align: center;
}

.footer-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.social-icons span {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
    margin: 10px 0;
  }
}
